.submit-registration
	justify-content space-between
	padding-top 97.7px
	@media screen and (max-width 320px)
		padding-top 20px
		flex-direction: column
		align-items center
		justify-content center

	&__ask
		font-size 13px
		font-weight 300
		line-height 15px
		letter-spacing 0.2px
		color #000000
		padding-top 6px
		@media screen and (max-width 320px)
			padding-bottom 20px

	&__link-regisration
		text-decoration underline
		color #5A61ED
		letter-spacing 0.6px
	&__button
		width 157px
		height 33px
		font-family PT Sans
		font-size 14px
		font-weight normal
		font-style normal
		line-height 18px
		text-align center
		color #FFFFFF
		background #5A61ED
		border .5px solid #FFFFFF
		&:hover
			background #6e61Ed
		&:active
			background blue
