import('sprites/*')
import('helpers/svg-size')

@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'
@import 'blocks/base'
@import 'blocks/page'
@import 'blocks/registration-popup'
@import 'blocks/form'
@import 'blocks/data'
@import 'blocks/submit-registration'
@import 'blocks/data-piker'
@import 'blocks/gender-select'

import('../blocks/**/*')
