
@font-face
    font-family 'Work Sans'
    font-style normal
    font-weight 300
    src url('/fonts/work-sans-v5-latin-300.eot?#iefix') format('embedded-opentype'),
       url('/fonts/work-sans-v5-latin-300.woff2') format('woff2'),
       url('/fonts/work-sans-v5-latin-300.woff') format('woff'),
       url('/fonts/work-sans-v5-latin-300.ttf') format('truetype'),
       url('/fonts/work-sans-v5-latin-300.svg#WorkSans') format('svg')

@font-face
    font-family 'Work Sans'
    font-style normal
    font-weight 400
    src url('/fonts/work-sans-v5-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/work-sans-v5-latin-regular.woff2') format('woff2'),
       url('/fonts/work-sans-v5-latin-regular.woff') format('woff'),
       url('/fonts/work-sans-v5-latin-regular.ttf') format('truetype'),
       url('/fonts/work-sans-v5-latin-regular.svg#WorkSans') format('svg')

@font-face
    font-family 'Work Sans'
    font-style normal
    font-weight 500
    src url('/fonts/work-sans-v5-latin-500.eot?#iefix') format('embedded-opentype'),
       url('/fonts/work-sans-v5-latin-500.woff2') format('woff2'),
       url('/fonts/work-sans-v5-latin-500.woff') format('woff'),
       url('/fonts/work-sans-v5-latin-500.ttf') format('truetype'),
       url('/fonts/work-sans-v5-latin-500.svg#WorkSans') format('svg')

@font-face
    font-family 'Work Sans'
    font-style normal
    font-weight 700
    src url('/fonts/work-sans-v5-latin-700.eot?#iefix') format('embedded-opentype'),
       url('/fonts/work-sans-v5-latin-700.woff2') format('woff2'),
       url('/fonts/work-sans-v5-latin-700.woff') format('woff'),
       url('/fonts/work-sans-v5-latin-700.ttf') format('truetype'),
       url('/fonts/work-sans-v5-latin-700.svg#WorkSans') format('svg')

